In [43]:
import pandas as pd

In [4]:
df

     Colliers Subdistrict       District Subdistrict            Street
0                ავლაბარი  ძველი თბილისი    ავლაბარი  300 არაგველის ქ.
1                ავლაბარი  ძველი თბილისი    ავლაბარი       ავლაბრის ქ.
2                ავლაბარი  ძველი თბილისი    ავლაბარი    ალადაშვილის ქ.
3                ავლაბარი  ძველი თბილისი    ავლაბარი        ალაზნის ქ.
4                ავლაბარი  ძველი თბილისი    ავლაბარი    ალიხანიანის ქ.
...                   ...            ...         ...               ...
1532             სოლოლაკი  ძველი თბილისი    სოლოლაკი       შავთელის ქ.
1533             სოლოლაკი  ძველი თბილისი    სოლოლაკი       შარდენის ქ.
1534             სოლოლაკი  ძველი თბილისი    სოლოლაკი     ჩახრუხაძის ქ.
1535             სოლოლაკი  ძველი თბილისი    სოლოლაკი      ხოდაშენის ქ.
1536             სოლოლაკი  ძველი თბილისი    სოლოლაკი       ჯიბლაძის ქ.

[1537 rows x 4 columns]

In [47]:
local = []

In [48]:
for i in df["Street"]:
    local.append(i)

In [49]:
sorted(local)[:10]

['13 ასურელი მამის ქ.',
 '17 შინდისელი გმირის ქ.',
 '26 მაისის მოედანი.',
 '26 მაისის ქ.',
 '300 არაგველის ქ.',
 '4000 მესხის ქ.',
 '8 მარტის ქ.',
 '9 აპრილის ქ.',
 'I კვარტალი - დიღმის მასივი',
 'I კვარტალი - ვაჟა ფშაველა']

In [58]:
local.sort()

In [83]:
from sitkva.models import *

In [94]:
db_streets = []
for i in Street.query.all():
    db_streets.append(i.name)

In [95]:
db_streets.sort()
db_streets = db_streets[1:]

In [96]:
db_streets[:10]

['13 ასურელი მამის ქ.',
 '17 შინდისელი გმირის ქ.',
 '26 მაისის მოედანი.',
 '26 მაისის ქ.',
 '300 არაგველის ქ.',
 '4000 მესხის ქ.',
 '8 მარტის ქ.',
 '9 აპრილის ქ.',
 'I კვარტალი - დიღმის მასივი',
 'I კვარტალი - ვაჟა ფშაველა']

In [100]:
df = df.sort_values(by=["Street"])

In [122]:
fails = []
print("ქუჩა   ლოკალი    ქოლიერსი")
for i,row in df.iterrows():
    st = Street.query.filter(Street.name == row["Street"]).first()
    if st.subdistrict.district.name != row["District"]:
        fails.append(i)
        
        print(row["Street"]+st.subdistrict.district.name+"---"+row["District"])

ქუჩა   ლოკალი    ქოლიერსი
აბულაძის ქ.ისანი-სამგორი---ვაკე-საბურთალო
აფხაზეთის ქ.ისანი-სამგორი---დიდუბე-ჩუღურეთი
ბარათაშვილის ქ.გლდანი-ნაძალადევი---ძველი თბილისი
ბოჭორიშვილის ქ.ვაკე-საბურთალო---გლდანი-ნაძალადევი
გ.ტაბიძის ქ.ძველი თბილისი---გლდანი-ნაძალადევი
გაბაშვილის ქ.ვაკე-საბურთალო---გლდანი-ნაძალადევი
გახოკიძის ქ.ვაკე-საბურთალო---ისანი-სამგორი
გურიის ქ.გლდანი-ნაძალადევი---ძველი თბილისი
დიდგორის ქ.ვაკე-საბურთალო---ისანი-სამგორი
დიდგორის ქ.ვაკე-საბურთალო---გლდანი-ნაძალადევი
თამარ მეფის ქ.ვაკე-საბურთალო---ისანი-სამგორი
ილორის ქ.ისანი-სამგორი---გლდანი-ნაძალადევი
კანდელაკის ქ.ვაკე-საბურთალო---გლდანი-ნაძალადევი
კოსტავას ქ.ვაკე-საბურთალო---ძველი თბილისი
ლევან რჩეულიშვილის ქ.ვაკე-საბურთალო---გლდანი-ნაძალადევი
ლეონიძის ქ.გლდანი-ნაძალადევი---ძველი თბილისი
მაისურაძის ქ.ისანი-სამგორი---გლდანი-ნაძალადევი
მარჯანიშვილის ქ.გლდანი-ნაძალადევი---დიდუბე-ჩუღურეთი
მშვიდობის ქ.ისანი-სამგორი---გლდანი-ნაძალადევი
ონის ქ.გლდანი-ნაძალადევი---ძველი თბილისი
სოხუმის ქ.ისანი-სამგორი---დიდუბე-ჩუღურეთი
სტურუას ქ.ისანი-სამგორი---გლდანი-ნაძალადევი
ტარიელის ქ.ვაკე-საბურთალო---ძველი თბილისი
ღოღობერიძის ქ.ისანი-სამგორი---გლდანი-ნაძალადევი
ყაზბეგის ქ.ვაკე-საბურთალო---გლდანი-ნაძალადევი
შ.მიქატაძის ქ.გლდანი-ნაძალადევი---დიდუბე-ჩუღურეთი
შენგელიას ქ.გლდანი-ნაძალადევი---ძველი თბილისი
ცუცქირიძის ქ.დიდუბე-ჩუღურეთი---ძველი თბილისი
ხერხეულიძეების ქ.გლდანი-ნაძალადევი---ძველი თბილისი

In [123]:
from sitkva.models import Flat

In [124]:
flats = Flat.query.all()

In [138]:
tmp_projects = []
tmp_modelling = []
for fl in flats:
    tmp_projects.append(fl.project)
    tmp_modelling.append(fl.state)

In [139]:
modelling_arr = pd.array(tmp_modelling, dtype=str)
projects_arr = pd.array(tmp_projects, dtype=str)

In [144]:
modelling_arr.uniqe()

<PandasArray>
[                                         'ძველი რემონტით',
                                          'ახალი რემონტით',
                                           'გარემონტებული',
                                           'თეთრი კარკასი',
                                          'მწვანე კარკასი',
                                            'შავი კარკასი',
                                                 'NO_INFO',
                                       'მიმდინარე რემონტი',
                                               'სარემონტო',
                              'შავი კარკასი,თეთრი კარკასი',
               'შავი კარკასი,თეთრი კარკასი,მწვანე კარკასი',
                            'თეთრი კარკასი,მწვანე კარკასი',
                             'თეთრი კარკასი,გარემონტებული',
 'შავი კარკასი,თეთრი კარკასი,მწვანე კარკასი,გარემონტებული',
                             'შავი კარკასი,მწვანე კარკასი',
                                         'პრემიუმ კარკასი',
                                           'თბილი კარკასი',
                            'მწვანე კარკასი,გარემონტებული',
                'შავი კარკასი,თეთრი კარკასი,გარემონტებული']
Length: 19, dtype: str1760

In [145]:
projects_arr.unique()

<PandasArray>
['არასტანდარტული',        'NO_INFO',    'ყავლაშვილის',  'თბილისური ეზო',
       'ქალაქური',         'ჩეხური',      'ხრუშჩოვის',       'მოსკოვის',
         'ლვოვის',       'დუპლექსი',    'ლენინგრადის',      'თუხარელის',
    'იუგოსლავიის',         'ვეძისი',    'მეტრომშენის',          'კიევი',
         'სხვენი',       'ტრიპექსი']
Length: 18, dtype: str448

In [147]:
modelling = {
    "მწვანე კარკასი" : "თეთრი კარკასი",
    "თეთრი კარკასი" : "თეთრი კარკასი",
    "თბილი კარკასი" : "თეთრი კარკასი",
    "პრემიუმ კარკასი" : "თეთრი კარკასი",
    "ძველი რემონტით" : "ძველი რემონტი",
    "ძველი რემონტი" : "ძველი რემონტი",
    "ახალი რემონტი" : "ახალი რემონტი",
    "ახალი რემონტით" : "ახალი რემონტი",
    "გარემონტებული" : "ახალი რემონტი",
    "შავი კარკასი" : "შავი კარკასი",
    "მიმდინარე რემონტი" : "მიმდინარე რემონტით",
    "მიმდინარე რემონტი" : "მიმდინარე რემონტი",
    "სარემონტო" : "სარემონტო",
    "NO_INFO" : ""
}

In [154]:
projects = {
    "არასტანდარტული" : "არასტანდარტული",
    "ქალაქური" : "ქალაქური",
    "ლვოვის" : "ლვოვი",
    "ლვოვი" : "ლვოვი",
    "NO_INFO" : "უცნობი",
    "ჩეხური" : "ჩეხური",
    "დუპლექსი" : "დუპლექსი",
    "ვეძისი" : "ვეძისი",
    "ვეძისის" : "ვეძისი",
    "ყავლაშვილის" : "ყავლაშვილი",
    "ყავლაშვილი" : "ყავლაშვილი",
    "ხრუშჩოვის" : "ხრუშჩოვი",
    "ხრუშჩოვი" : "ხრუშჩოვი",
    "მეტრომშენი" : "მეტრომშენი",
    "მეტრომშენის" : "მეტრომშენი",
    "თბილისური ეზო" : "თბილისური ეზო",
    "მოსკოვის" : "მოსკოვი",
    "მოსკოვი" : "მოსკოვი",
    "თუხარელის" : "თუხარელი",
    "თუხარელი" : "თუხარელის"
}

In [158]:
pilot = pd.read_excel("PILOT.xlsx")

In [168]:
pilot["Area"].sum()/pilot["Rooms"].sum()

27.65151345883181

In [169]:
flats = Flat.query.all()

In [190]:
####removing 0 or -1 in rooms

missed_rooms = Flat.query.filter(Flat.rooms <= 0).all()

from sitkva import db 

for rm in missed_rooms:
    total_area = rm.total_area
    rm.rooms = int(total_area / 27)
    db.session.add(rm)
    db.session.commit()